[user]
  name = Abdellah Hariti
  email = haritiabdellah@gmail.com

[alias]
  co = checkout
  c = commit
  s = status
  b = branch
  p = push
  ss = stash
  sp = stash pop
  l = log

[init]
  defaultBranch = master

# rebase pull
[pull]
  rebase = true

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true  # use n and N to move between diff sections

  # delta detects terminal colors automatically; set one of these to disable auto-detection
  # dark = true
  # light = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
[http]
  postBuffer = 524288000
[rerere]
  enabled = true
